header{
    position:fixed;
    z-index: 1;
}

.section1 {
    background-image: url(images/space1.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}
.section2 {
    background-image: url(images/space2.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}
.section3 {
    background-image: url(images/space3.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}
.smallertext{
    font-size: 20px;

}
.boldtext{
    font-size: 32px;
    font-weight: bold;
}